
:root {
    --vs-primary: 29 92 255;
}

.show-modal {
    display: flex;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn 1s ease both;
    background: rgba(255, 255, 255, 0.4);
    z-index: 2;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    .top {
        position: relative;

    }
    @media only screen and (max-width: 768px) {
        flex-direction: column
    }
}

/*Dialog Styles*/
#dialog {
    width: 100%;
    position: relative;
    pointer-events: none;
    padding: 2rem 3rem;
    background: white;
    max-width: 400px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
    color: #0b0f08;

    &::backdrop {
        animation: fadeIn 1s ease both;
        background: rgb(255 255 255 / 40%);
        z-index: 2;
        backdrop-filter: blur(20px);
    }

    .x {
        filter: grayscale(1);
        border: none;
        background: none;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: ease filter, transform 0.3s;
        cursor: pointer;
        transform-origin: center;

        &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }

    .rating {
        margin: 22px auto;
        left: 0;
        right: 0;
        width: 0px;
        height: 0px;
        border-right: 20px solid transparent;
        border-bottom: 14px solid #e74c3c;
        border-left: 20px solid transparent;
        position: absolute;
        transform: rotate(35deg);
    }

    .rating::before {
        position: absolute;
        display: block;
        content: '';
        top: 0px;
        left: -20px;
        width: 0px;
        height: 0px;
        border-right: 20px solid transparent;
        border-bottom: 14px solid #e74c3c;
        border-left: 20px solid transparent;
        transform: rotate(-70deg);
    }

    .rating::after {
        box-sizing: border-box;
        border-bottom: 15px solid #e74c3c;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        content: '';
        position: relative;
        height: 0;
        width: 0;
        top: -10px;
        left: -12px;
        display: block;
        transform: rotate(-35deg);
    }

    h2 {
        font-weight: 600;
        font-size: 48px;
        padding-bottom: 16px;
        line-height: normal;

    }

    .tags {
        i {
            margin-right: 4px;
            font-size: 18px;
        }
    }

    p {
        font-size: 24px;
        line-height: normal;
        font-weight: 400;
        font-family: sans-serif;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: -0.36px;
        padding: 0.5rem 0;

        a {
            &:visited {
                color: rgb(var(--vs-primary));
            }
        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
